.header-element {
  box-shadow: 0 0 20px #efefef;
}

.logout {
  background-color: black;
  transition: all 0.4s;
  color: white;

  &:hover {
    background-color: rgb(48, 47, 47);
    transition: 0.4s all;
    color: white;
  }
}